
.dart_tool/flutter_build/bd10c87290bf8e826d9ec18aad5149a4/.filecache
*.iml
*.xml
*.stamp
*.d
.dart_tool/flutter_build/bd10c87290bf8e826d9ec18aad5149a4/iphone_framework
.flutter-plugins-dependencies
.flutter-plugins
.DS_Store
