
.dart_tool/flutter_build/5fe993f2a1d8370fcf766e6e4e8b0d01/.filecache
.dart_tool/flutter_build/5fe993f2a1d8370fcf766e6e4e8b0d01/App
*.stamp
*.dill
*.d
*.json
*.iml
*.xml
*.png
*.plist
*.jpg
build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Runner
*.nib
*.bin
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
*.otf
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
*.dat
build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
*.jpeg
ios/Flutter/App.framework/flutter_assets/LICENSE
*.json
*.ttf
*.json
ios/Flutter/App.framework/App
build/ios/iphonesimulator/Runner.app/Runner
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
*.xcconfig
*.json
ios/Flutter/App.framework/flutter_assets/AssetManifest.json
ios/Flutter/App.framework/App
*.bin
.packages
build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
*.car
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/PkgInfo
.dart_tool/flutter_build/5fe993f2a1d8370fcf766e6e4e8b0d01/iphone_framework
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/LICENSE
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/LICENSE
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
ios/Flutter/App.framework/App
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/iphonesimulator/Runner.app/PkgInfo
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
*.json
ios/Flutter/App.framework/flutter_assets/FontManifest.json
ios/Flutter/App.framework/flutter_assets/FontManifest.json
ios/Flutter/App.framework/flutter_assets/kernel_blob.bin
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
*.xcconfig
